<div class="parent"  style="background-color: bisque;padding: 10px">
        <form novalidate>
            <div class="form-group">
                <input type="text"
                class="form-control"
                name="value"
                [(ngModel)]="service.value">
                <input type="text"
                class="form-control"
                name="value"
                [(ngModel)]="serv.a">
            </div>
        </form>
        <app-child></app-child>
        

</div>
